* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e2dcc8;
}
h1 {
  margin: 50px 0 30px;
  text-align: center;
}
.faq-container {
  margin: 0 auto;
  max-width: 600px;
}

.faq {
  background-color: transparent;
  margin: 20px 0;
  position: relative;
  border-radius: 10px;
  border: 1px solid black;
  padding: 30px;
  transition: 0.2 ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-answer {
  display: none;
}

.faq.active .faq-answer {
  margin: 10px 0;
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  display: block;
}

.faq-toggle .fa-arrow-down {
  color: black;
}

.faq.active .faq-toggle .fa-arrow-down {
  display: none;
}
