@import url("https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap");

body {
  background-color: #fee2c5;
}
a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
  display: block;

  font-size: 100px;
  font-family: "Kanit", sans-serif;

  color: grey;
  text-decoration: none;

  background: linear-gradient(90deg, #0000 5%, #ca4e79) 100% 100%/2000% 0.1em
    no-repeat;

  transition: background-position 1s, color 1s;
}

a:hover {
  color: #ca4e79;
  background-position: 0% calc(100% - 0.4em);
}
