* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.75rem;
}

p {
  margin: 1rem 0;
}

.selected__paragraph {
  color: lightcoral;
}
